<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- Ensuring mobile device compatibility -->
        <meta name="viewport" content="inital-scale= 1, width= device-width">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Natnael's Homepage</title>
    </head>
    <body>
        <nav>
          <div id ="nav-name">
            <h1>STUDY BUDDY</h1>
          </div>
          <div id = "nav-links">
            <ul>
                <li>
                  <a href="index.html">Buddies List</a>
                </li>
                <li>
                  <a href="preference.html">Change Preferences</a>
                </li>
                <li>
                  <a href="account.html">Account Settings</a>
                </li>
                <li>
                  <a href="login.html">Logout</a>
                </li>
              </ul>
            </div>
            <div  onclick = "barclick()" id ="bars">
              <i class="fas fa-bars"></i>
            </div>
        </nav>
        <form class="custom-form">
          <div class="form-group">
            <label for="class">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Eg: johnnash">
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Example select</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </form>    
    </body>
    <script>
        function barclick(){
          if (document.getElementById("nav-links").style.display === "none")
          {
            document.getElementById("nav-links").style.display = "flex";
          }
          else {
            document.getElementById("nav-links").style.display = "none";
          } 
        }
    </script>
</html>
